#left:hover {cursor:pointer;}
#right:hover{cursor:pointer;}
.menubutton{width:150px;}
#menu1{float:left;z-index:2;}
#menu2{float:left;z-index:2;}
#main
{
position:relative;
top:10px;	
width:900px;
height:900px;
padding: 10px;
margin:0 auto;
background-color:grey;
overflow:hidden;
}
#slider
{
position:relative;

width:850px;
height:400px;
margin:0 auto;
background-color:black;
}
#menubar
{
z-index:2;
position:relative;

width:850px;
height:40px;
margin:0 auto;
background-color:#9C9C9C;
}
#content1
{
position:relative;
top:10px;
z-index:1;
float:left;
margin-left:25px;
width:650px;
height:400px;
background-color:#FAFAFA;
}
#content2
{
position:relative;
right:25px;
float:right;
top:10px;
width:175px;
height:400px;
background-color:#FAFAFA;
}	












